<!--Blog section Start-->
		<section class="latest__block padding ptb-xs-60" style="{% if page.blogs.background == "light" %} background: #fff {% endif %}{% if page.blogs.background == "dark" %} background: #f5f5f5 {% endif %}">
		    <div class="container">
			<div class="row pb-30 text-center">
						<div class="col-sm-12 mb-20">
							<h2><span>Latest</span> News</h2>
							<span class="b-line"></span>
						</div>
					</div>
		        <div class="row">
		            <div class="col-md-4 mb-30">
					<div class="img-scale">
		               <figure> <img src="assets/images/blog/blog-img1.jpg" alt=""> </figure>
						<div class="latest__block-post">
                                    <div class="meta-post">June, 24th 2016</div>
                                    <h3 class="latest__block-title">
                                        <a href="blog-single.html">How To Decorate With Black-and-White?</a>
                                    </h3>

                                    <div class="flat-link flat-arrow sm  ">
                                        <a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
							</div>	
		            </div>
		            <div class="col-md-4 mb-30">
		                <div class="img-scale">
		               <figure> <img src="assets/images/blog/blog-img2.jpg" alt=""> </figure>
						<div class="latest__block-post">
                                    <div class="meta-post">June, 24th 2016</div>
                                    <h3 class="latest__block-title">
                                        <a href="blog-single.html">How To Decorate With Black-and-White?</a>
                                    </h3>

                                    <div class="flat-link flat-arrow sm  ">
                                        <a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
							</div>
		            </div>
		            <div class="col-md-4">
		                <div class="img-scale">
		               <figure> <img src="assets/images/blog/blog-img3.jpg" alt=""> </figure>
						<div class="latest__block-post">
                                    <div class="meta-post">June, 24th 2016</div>
                                    <h3 class="latest__block-title">
                                        <a href="blog-single.html">How To Decorate With Black-and-White?</a>
                                    </h3>

                                    <div class="flat-link flat-arrow sm  ">
                                        <a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
							</div>
		            </div>
		        </div>
		    </div>
		</section>
		<!--Blog section End-->