<!--Event section Star-->
		<section class="event-section__block padding ptb-xs-60">
		<div class="container">
		<div class="row pb-30">
						<div class="col-sm-6 mb-20">
							<h2>Upcoming Events</h2>
							
						</div>
						<div class="col-sm-6 mb-20 text-right">
							<a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
		<div class="row">
		<div class="col-sm-4">
		<div class="table__block ">
		<div class="event__date-time text-center matchHeigh">
		<div class="event__time">  
		<span><i class="fa fa-clock-o"></i> 10 am - 11 am</span>
		<span><i class="fa fa-map-marker"></i>   VENICE, India</span>
		</div>
		<div class="event__date">25</div>
		<div class="event__month">June</div>
		</div>
		</div>
		</div>
		
		<div class="col-sm-8">
		<div class="single_plan__block single_plan__block-img block_bg5 mb-30 matchHeigh">
                                <div class="plan-content-box plan-content-box__white__bg">
                                  <h3>Eduma Summer 2017.</h3>
                                  <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aquis Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor </p>
                                  <a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
		                      </div>
		                  </div>
		</div>
		</div>
		<div class="row">
		<div class="col-sm-4">
		<div class="table__block ">
		<div class="event__date-time text-center matchHeigh">
		<div class="event__time">  
		<span><i class="fa fa-clock-o"></i> 10 am - 11 am</span>
		<span><i class="fa fa-map-marker"></i>   VENICE, India</span>
		</div>
		<div class="event__date">25</div>
		<div class="event__month">June</div>
		</div>
		</div>
		</div>
		
		<div class="col-sm-8">
		<div class="single_plan__block single_plan__block-img block_bg6 block_bg6 matchHeigh">
                                <div class="plan-content-box plan-content-box__white__bg">
                                  <h3>Summer School 2018.</h3>
                                  <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aquis Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor </p>
                                  <a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
		                      </div>
		                  </div>
		</div>
		</div>
		</div>
		</section>
		<!--Event section End-->