<!--Event section Star-->
		<section class="event-section__block padding ptb-xs-60" style="{% if page.events.background == "light" %} background: #fff {% endif %}{% if page.events.background == "dark" %} background: #f5f5f5 {% endif %}">
		<div class="container">
			<div class="row pb-30">
				<div class="col-sm-6 mb-20">
					<h2>Upcoming Events</h2>
					
				</div>
				<!--<div class="col-sm-6 mb-20 text-right">
					<a href="#" class="more_btn__block">More <i class="fa fa-angle-right"></i></a>
				</div>
				-->
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="table__block ">
						<div class="event__date-time text-center matchHeigh">
							<div class="event__time">  
								<span><i class="fa fa-clock-o"></i> 9 am - 1 pm &  2 pm - 6 pm  </span><br>
								<span><i class="fa fa-map-marker"></i>   3B2, Mohali, India</span>
							</div>
							<div class="event__date">Every</div>
							<div class="event__month">Thursday and Saturday</div>
						</div>
					</div> 
				</div>		
				<div class="col-sm-8">
					<div class="single_plan__block single_plan__block-img block_bg5 mb-30 matchHeigh" style="background-image:url(/assets/images/gurukul/classroom.jpg); background-size: cover;
						background-repeat: no-repeat;
						background-position: right;
					">
                        <div class="plan-content-box plan-content-box__white__bg matchHeigh">
                            <h3>Free Demo Sessions</h3>
                            <p> Avail free demo classes on every thursday and Saturday to know the level of the sessions provided at Gurukul International and get yourself accessed by certofied trainess.
							
							</p>
		                </div>
		            </div>
				</div>
			</div>														
		
		</div>
		</section>
		<!--Event section End-->