<!--Footer Section Start-->
		<footer>
		    <div class="top_footer_info__block ptb-20">
		        <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="single_info__block">
                                <i class="fa fa-phone"></i>
                                <h4>Call <span>90234-18774</span></h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single_info__block">
                                <i class="fa fa-envelope-o"></i>
                                <h4>Mail<span>gurukulinternational3b2@gmail.com </span></h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single_info__block">
                                <i class="fa fa-clock-o"></i>
                                <h4>Visit:  <span>Monday-Saturday, 9am-6pm</span></h4>
                            </div>
                        </div>
                    </div>
		        </div>
            </div>
            <div class="main_footer__block pb-0 pt-60" style="background-image:url(/assets/images/gurukul/inner.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer_box__block">
                                <h4>About Us</h4>
                                <p>Gurukul International is one of the leading foreign language institutes established in 2012, is offering Writing, Reading, Listening and Speaking courses in English language. Being in the education industry for the past 7 years, our Institute offers specially designed foreign language courses with quality contents coupled with better learning environment.</p>
                            </div>
                        </div>
                        <!--<div class="col-md-3">
                            <div class="footer_box__block">
                                <h4>Latest Blog Post</h4>
                                <ul>
                                    <li><a href="#">Start your own agency</a></li>
                                    <li><a href="#">How to cool down quality</a></li>
                                    <li><a href="#">Make something awesome</a></li>
                                    <li><a href="#">Plane your summer vacation</a></li>
                                    <li><a href="#">There are sunlight to enjoy</a></li>
                                </ul>
                            </div>
                        </div>
						-->
                        <div class="col-md-4">
                            <div class="footer_box__block">
                                <h4>Our Course</h4>
                                <ul>
									{% for nav in site.navigations %}
										{% if nav.title == 'Course' %}
									
									
										{% if nav.childNav == 'true' %}
											
													{% for childs in nav.child %}
														<li> <a href="{{childs.link}}">{{childs.name}}</a> </li>
													{% endfor %}
										
										{% endif %}
										{% endif %}
									{% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer_box__block address-box">
                                <h4>Contact info</h4>
                                <ul>
                                    <li> 
										<ul>
										{% for number in site.phone %}
											<li>
												<i class="{{number.icon}}"></i>
												<p>{{ number.number }}</span></p>
											</li>
										{% endfor %}
										</ul>
                                    </li>
                                    <li> <i class="fa fa-envelope-o"></i>
                                        <p><a href="mailto:info@example.com">gurukulinternational3b2@gmail.com</a></p>
                                    </li>
                                    <li> <i class="fa fa-map-marker"></i>
                                        <p>SCF 65, 2nd Floor, Near Subway, Phase 3B2, SAS Nagar Mohali.</p>
                                    </li>
                                    <li> <i class="fa fa-clock-o"></i>
                                        <p>Monday-Saturday, 9am-7pm <br> Sunday Closed</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyriight_block ptb-20 mt-20">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="/" class="footer__block-logo"><img src="/assets/images/gurukul.png" alt="Gurukul International"> <span>Gurukul International</span></a>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

		</footer>
		<!--Footer Section End-->
		<!-- Site Wraper End -->

