<!--form Section-->
		<section class="ptb-40 bottom-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-sm-30 mb-xs-30">
          <div class="contact_block-text"> <strong>Do you have any questions?</strong>
            <p>feel free to contact us!</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-field">
                  <input class="input-sm form-full" id="name" type="text" name="form-name" placeholder="Your Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-field">
                  <input class="input-sm form-full" id="email" type="text" name="form-email" placeholder="Email">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-field">
                  <textarea class="form-full" id="message" rows="7" name="form-message" placeholder="Your Message"></textarea>
                </div>
              </div>
              <div class="col-sm-4 mt-xs-15">
                <button class="btn-text" type="button" id="submit" name="button"> Submit </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
		<!--form Section End-->