<!-- Work Section -->
			<section id="work" class="">
				<div class="container">
					<div class="row pb-30 text-center">
						<div class="col-sm-12 mb-20">
							<h2>{{ site.data.gallery.heading}}</h2>
							<span class="b-line"></span>
						</div>
					</div>
					<!-- work Filter
					<div class="row">
						<ul class="container-filter categories-filter">
							<li>
								<a class="categories active" data-filter="*">All</a>
							</li>
							<li>
								<a class="categories" data-filter=".branding">Branding</a>
							</li>
							<li>
								<a class="categories" data-filter=".design">Design</a>
							</li>
							<li>
								<a class="categories" data-filter=".photo">Photo</a>
							</li>
							<li>
								<a class="categories" data-filter=".coffee">coffee</a>
							</li>
						</ul>
					</div>
					End work Filter -->
					<div class="row container-masonry nf-col-3">
					
						{% for lists in site.data.gallery.list 	 %}
							<div class="nf-item grid-sizer  photo spacing">
								<div class="item-box">
									<a> <img alt="1" src="{{lists.image}}" class="item-container"> </a>
									<div class="link-zoom">
										<!--<a href="portfolio-single.html" class="project_links"> <i class="fa fa-link"> </i> </a>-->
										<a href="{{lists.image}}" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
									</div>

								</div>
							</div>
						{% endfor %}

			

						

				
					

					
						


						


						

					</div>

				</div>
			</section>
			<!--End Contact-->