
<!-- Site Wraper End -->
	<script src="{{ 'assets/js/jquery.min.js' | relative_url }}" type="text/javascript"></script>
	<!-- Easing Effect Js -->
	<script src="{{ 'assets/js/plugin/jquery.easing.js' | relative_url }}" type="text/javascript"></script>
	<!-- bootstrap Js -->
	<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}" type="text/javascript"></script>
	<!-- fancybox Js -->
	<script src="{{ 'assets/js/jquery.mousewheel-3.0.6.pack.js' | relative_url }}" type="text/javascript"></script>
	<script src="{{ 'assets/js/jquery.fancybox.pack.js' | relative_url }}" type="text/javascript"></script>
	<!-- carousel Js -->
	<script src="{{ 'assets/js/plugin/owl.carousel.js' | relative_url }}" type="text/javascript"></script>
	<!-- imagesloaded Js -->
	<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
	<!-- masonry,isotope Effect Js -->
	<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
	<script src="{{ 'assets/js/isotope.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
	<script src="{{ 'assets/js/masonry.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
	<script src="{{ 'assets/js/jquery.appear.js' | relative_url }}" type="text/javascript"></script>
	<!-- Height Js -->
	<script src="{{ 'assets/js/jquery.matchHeight-min.js' | relative_url }}" type="text/javascript"></script>
	<!-- parallax Js -->
	<script src="{{ 'assets/js/jquery.parallax-1.1.3.js' | relative_url }}" type="text/javascript"></script>
	<!-- revolution Js --> 
	<script type="text/javascript" src="{{ 'assets/js/jquery.themepunch.tools.min.js' | relative_url }}"></script> 
	<script type="text/javascript" src="{{ 'assets/js/jquery.themepunch.revolution.min.js' | relative_url }}"></script> 
	<script type="text/javascript" src="{{ 'assets/extensions/revolution.extension.slideanims.min.js' | relative_url }}"></script> 
	<script type="text/javascript" src="{{ 'assets/extensions/revolution.extension.layeranimation.min.js' | relative_url }}"></script> 
	<script type="text/javascript" src="{{ 'assets/extensions/revolution.extension.navigation.min.js' | relative_url }}"></script> 
	<script type="text/javascript" src="{{ 'assets/extensions/revolution.extension.parallax.min.js' | relative_url }}"></script> 
	<script type="text/javascript" src="{{ 'assets/js/jquery.revolution.js' | relative_url }}"></script> 
	<!-- custom Js -->
	<script src="{{ 'assets/js/custom.js' | relative_url }}" type="text/javascript"></script>
    </body>
</html>