 <!-- Partner Section -->
  <div id="partner-section" class="ptb ptb-xs-60 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-title v-line mb-35 ">
            <h2><span>Recognitions...</span></h2>
            <!--<p class="italic"> Aenean suscipit eget mi act </p>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="logo-group">
            <li class="partner-logo border-b"> <img src="assets/images/gurukul/bc.jpg" alt=""> </li>
            <li class="partner-logo border-b"> <img src="assets/images/gurukul/idp.jpg" alt=""> </li>
            <li class="partner-logo border-b"> <img src="assets/images/gurukul/pte-acd.jpg" alt=""> </li>
            <li class="partner-logo border-b"> <img src="assets/images/gurukul/cafle-cap.jpg" alt=""> </li>            
          </ul>
        </div>
      </div>
    </div>
  </div>
