<!--Team section start-->
		<section class="team_wrapper__block padding ptb-xs-60">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="section_title__block text-center">
		                    <h2>Our Lecturers</h2>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-sm-4">
		                <div class="single_member__block">
		                    <img src="assets/images/member-01.jpg" alt="" class="img-responsive">
		                    <div class="member_S_links__block">
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-google-plus"></i></a>
		                        <a href="#"><i class="fa fa-pinterest"></i></a>
		                        <a href="#"><i class="fa fa-instagram"></i></a>
		                    </div>
		                    <h4 class="author__block">John Doe <span>Chartered Financial Advisor</span></h4>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore [...]</p>
		                </div>
		            </div>
		            <div class="col-sm-4">
		                <div class="single_member__block">
		                    <img src="assets/images/member-02.jpg" alt="" class="img-responsive">
		                    <div class="member_S_links__block">
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-google-plus"></i></a>
		                        <a href="#"><i class="fa fa-pinterest"></i></a>
		                        <a href="#"><i class="fa fa-instagram"></i></a>
		                    </div>
		                    <h4 class="author__block">John Doe <span>Chartered Financial Advisor</span></h4>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore [...]</p>
		                </div>
		            </div>
		            <div class="col-sm-4">
		                <div class="single_member__block">
		                    <img src="assets/images/member-01.jpg" alt="" class="img-responsive">
		                    <div class="member_S_links__block">
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-google-plus"></i></a>
		                        <a href="#"><i class="fa fa-pinterest"></i></a>
		                        <a href="#"><i class="fa fa-instagram"></i></a>
		                    </div>
		                    <h4 class="author__block">John Doe <span>Chartered Financial Advisor</span></h4>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore [...]</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!--Team section End-->