 <!--Testimonial Section Start-->
		<section class="testimonial_wrapper__block padding" style="background-image:url(/assets/images/gurukul/testimonial-bg.jpg)">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="section_title__block text-center mb-40">
		                    <h2>Our Testimonial</h2>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12">
		                <div class="testimonial_carosule-wrap owl-carousel" data-pagination="false" data-loop="true" data-autoplay="false" data-navigation="true" data-items="1" data-tablet="2" data-mobile="1" data-desktop="3" data-prev="fa fa-chevron-left" data-next="fa fa-chevron-right">
		                    <div class="single_carousel pt-40">
		                        <p>This institute is awesome. Good environment & skilled staff who is constantly dedicated to provide best knowledge to the students. I scored 7 bands in IELTS in my first attempt so I am really thankful to all the faculties for their guidance and efforts.One must join Gurukul International.</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/gurukul/testimonials/neha-joshi.jpg" alt="">
                                        <p>Neha Joshi<span></span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Gurukul International is the best IELTS coaching institute. I had a great time here during my coaching period. The staff is very co-operative and helpful. Personal attention is given to every student. When I first joined the Institute, even though my english was fine but due to lack of confidence I was unable to get the desired band score in the mock tests due to which I felt very low sometimes but the teachers helped me built that confidence in me and because of this I was able to get the desired overall band score of 7.5 in General Training. Thank you very much Gurukul. I highly recommend it...</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/gurukul/testimonials/amandeep-kaur.jpg" alt="">
                                        <p> Amandeep Kaur<span></span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>I achieved my desired band score after many attempts. This became only possible because of Gurukul International. The staff is really good and teachers know about the weaknesses and strengths of the students. I really appreciate the efforts they put on me and I recommend it highly to the students who want to crack their IELTS exam with good  band scores.Thank you Gurukul International. </p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/gurukul/testimonials/mandeep-kaur.jpg" alt="">
                                        <p>Mandeep Kaur<span> </span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>I gave PTE exam and scored an overall score of 80 in first attempt. The credit goes to Gurukul International. The staff here is very cooperative and helps and guides you at every step. The software they teach us on is a replica of the real PTE software, thus it gives us enough experience, as to how to attempt the exam and how the environment will be like. It's the best coaching centre for PTE. 😊😊 </p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/gurukul/testimonials/ashmeet-bagga.jpg" alt="">
                                        <p> Ashmeet Bagga<span> </span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>One of the most premier institute to fulfill your dreams of scoring outstanding in PTE. One on one teaching methods with up to date syllabus and individual attention on the person with impeccable techniques to not only score but excel as well. All the faculty members are really helpful, especially Gurpreet Mam inspiring you everyday and making dreams comes true to achieve the marvelous feat in PTE. Thanks Gurukul  for making me score overall 87 and I genuinely recommend you to give a shot here so that you never again have to worry about your PTE.</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/gurukul/testimonials/amanpal-singh.jpg" alt="">
                                        <p>Amanpal Singh<span> </span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lifelong learning experience at Gurukul International. With the efforts of dedicated staff,  especially Gurpreet mam, I scored 73 overall in my first PTE attempt. The tailor-made software for real time exam experience made the pathway easier
 with the unique tricks used to tackle the particular kind of questions. 5/5 for this institute.</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/gurukul/testimonials/harsharanjit-singh.jpg" alt="">
                                        <p>Harsharanjit singh <span> </span></p>
		                            </div>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!--Testimonial Section End-->