 <!--Testimonial Section Start-->
		<section class="testimonial_wrapper__block padding">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="section_title__block text-center mb-40">
		                    <h2>Our Testimonial</h2>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12">
		                <div class="testimonial_carosule-wrap owl-carousel" data-pagination="false" data-loop="true" data-autoplay="false" data-navigation="true" data-items="1" data-tablet="2" data-mobile="1" data-desktop="3" data-prev="fa fa-chevron-left" data-next="fa fa-chevron-right">
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single_carousel pt-40">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]</p>
		                        <div class="author_img__block">
                                    <div class="author_tablecell__block">
                                        <img src="assets/images/author.jpg" alt="">
                                        <p>John Doe <span>CEO</span></p>
		                            </div>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!--Testimonial Section End-->