<!--why we use section Here-->
		<section class="plaing_wrap__block padding ptb-xs-60" style="{% if page.why.background == "light" %} background: #fff {% endif %}{% if page.why.background == "dark" %} background: #f5f5f5 {% endif %}">
		      <div class="container">
			  <div class="row pb-30 text-center">
						<div class="col-sm-12 mb-20">
							<h2>{{site.data.why-edugate.heading}}</h2>
							<span class="b-line"></span>
						</div>
					</div>
		          <div class="row">
					{% for why in site.courses  %}
						{% if why.showOnHome == true %}
						  <div class="col-sm-6">
							  <div class="single_plan__block block_bg1 mb-30 why">
									<div class="plan-content-box">
									  <h3>{{ why.title }}</h3>
									  <p>{{ why.info | truncate: 150 }}</p>
									  <a href="{{ why.permalink }}" class="more_btn__block">Read more <i class="fa fa-angle-right"></i></a>
								  </div>
								  <div class="imgside" style="background:url({{ why.headerImage }})"></div>
							  </div>
						  </div>
					  {% endif %}
					  {% endfor %}
		              
		          </div>
		      </div>
		  </section>
		<!--why we use section End-->