<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}

  <body>

    {% include header.html %}	
	{% include header-banner.html %}
	 		
			<!-- Contact Section -->
			<section class="padding ptb-xs-60">
				<div class="container">

					<div class="row">

						<div class="col-sm-8">

							<div class="headeing pb-30">
								<h2>Get in Touch</h2>
								<span class="b-line l-left line-h"></span>
							</div>
							<!-- Contact FORM -->
							<form class="contact-form " id="contact">
								<!-- IF MAIL SENT SUCCESSFULLY -->
								<div id="success">
									<div role="alert" class="alert alert-success">
										<strong>Thanks</strong> for using our template. Your message has been sent.
									</div>
								</div>
								<!-- END IF MAIL SENT SUCCESSFULLY -->
								<div class="row">
									<div class="col-sm-6">
										<div class="form-field">
											<input class="input-sm form-full" id="name" type="text" name="form-name" placeholder="Your Name">
										</div>
										<div class="form-field">
											<input class="input-sm form-full" id="email" type="text" name="form-email" placeholder="Email" >
										</div>
										<div class="form-field">
											<input class="input-sm form-full" id="sub" type="text" name="form-subject" placeholder="Subject">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-field">
											<textarea class="form-full" id="message" rows="7" name="form-message" placeholder="Your Message" ></textarea>
										</div>
									</div>
									<div class="col-sm-12 mt-30">
										<button class="btn-text" type="button" id="submit" name="button">
											Send Message
										</button>
									</div>
								</div>
							</form>
							<!-- END Contact FORM -->
						</div>

						<div class="col-sm-4 contact">
							<div class="headeing pb-20">
								<h2>Contact Info</h2>
								<span class="b-line l-left line-h"></span>
							</div>
							<div class="contact-info">

								<ul class="info">
									<li>
										<div class="icon ion-ios-location"></div>
										<div class="content">
											<p>
												{{ site.address }}
											</p>
											
										</div>
									</li>

									<li>
										<div class="icon ion-android-call"></div>
										<div class="content">
											<p>
												{{ site.phone }}
											</p>
										</div>
									</li>
									<li>
										<div class="icon ion-ios-email"></div>
										<div class="content">
											<p>
												
											</p><p>
												{{ site.email }}
											</p>
										</div>
									</li>
								</ul>
								<ul class="event-social">
								
								{% if site.data.social-media %}

    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].id %}
									<li>
            <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i></a></li>
        {% endif %}
    {% endfor %}
{% endif %}
									
								</ul>
							</div>
						</div>

					</div>
				</div>
				<!-- Map Section -->

			</section>
			<!-- Map -->
			<section class="map-box">
				<div class="map">
					<div id="map"></div>
				</div>
			</section>
			<!-- Contact Section -->
			<!--End Contact-->
	
	 
	{% if page.blogs.enable %}
	   {% include blogs.html %}
	{% endif %}
	{% if page.events.enable %}
	   {% include events.html %}
	{% endif %}
	{% if page.footer-form.enable %}
	   {% include footer-form.html %}
	{% endif %}

    <!--<div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
-->
    {% include footer.html %}
    {% include js.html %}
  </body>

</html>
