<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}

  <body>

    {% include header.html %}
	{% if page.slider.enable %}
	  {% include main-banner.html %}
	{% endif %}
	{% if page.highlight.enable %}
	  {% include top-section.html %}
	{% endif %}	
	{% if page.welcome.enable %}
	  {% include welcome-section.html %}
	{% endif %}
	{% if page.why.enable %}
	  {% include why.html %}
	{% endif %}
	{% if page.testimonial.enable %}
	  {% include testimonial.html %}
	{% endif %}
	{% if page.course.enable %}
	  {% include course.html %}
	{% endif %}
	{% if page.blogs.enable %}
	   {% include blogs.html %}
	{% endif %}
	{% if page.events.enable %}
	   {% include events.html %}
	{% endif %}
	{% if page.partner.enable %}
	   {% include partner.html %}
	{% endif %}
	{% if page.footer-form.enable %}
	   {% include footer-form.html %}
	{% endif %}
   
    

    <!--<div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
-->
    {% include footer.html %}
    {% include js.html %}
  </body>

</html>
