<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}

  <body>

    {% include header.html %}	
	{% include header-banner.html %}
	  <!-- Intro Section -->
	  <div class="faq ptb-80 ptb-xs-60">
		  <div class="container"> 		
			{% if page.url == "/gallery/" %}
				{% include gallery.html %}
			{% else %}			
				{{ content }}
			{% endif %}
		  </div>
	  </div> 
	  {% if page.course.enable %}
	   {% include course.html %}
	{% endif %}
	 {% if page.why.enable %}
	   {% include why.html %}
	{% endif %}
	{% if page.blogs.enable %}
	   {% include blogs.html %}
	{% endif %}
	{% if page.events.enable %}
	   {% include events.html %}
	{% endif %}
	{% if page.footer-form.enable %}
	   {% include footer-form.html %}
	{% endif %}

    <!--<div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
-->
    {% include footer.html %}
    {% include js.html %}
  </body>

</html>
