<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}

  <body>

    {% include header.html %}	
	{% include header-banner.html %}
	  <!-- Intro Section -->
	  <div class="faq ptb-80 ptb-xs-60">
		  <div class="container"> 
		
		
			{{ content }}
			
			
		  </div>
	   
	  </div> 
    {% include events.html %}
    {% include blogs.html %}
    {% include footer-form.html %}

    <!--<div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
-->
    {% include footer.html %}
    {% include js.html %}
  </body>

</html>
